.article {
  @apply container max-w-6xl mx-auto -mt-8 relative bg-white px-4 py-8;

  @screen md {
    @apply px-10;
  }

  h1 {
    @apply text-blue-dark font-bold;
  }

  .content {
    @apply md:grid grid-cols-6 gap-16;
  }

  .feature {
    &.small {
      @apply max-w-xs mb-8;
    }
    + p {
      @apply text-sm text-right;
    }
  }

  .the-article {
    @apply col-span-4;

    a {
      @apply text-blue underline;
    }

    p {
      @apply text-black-dark;
    }

    h2 {
      @apply leading-tight mt-12 text-2xl;
    }

    .attachment-post-thumbnail + p {
      @apply text-sm text-left mt-3;
    }

    img {
      height: auto;
      width: auto;
      max-width: 100%;
    }

    ul {
      @apply list-disc ml-4;

      li {
        @apply mb-4 text-lg;
      }
    }

    ol {
      @apply list-decimal ml-5 mt-2 mb-5;
      li {
        @apply mb-2 text-lg;
      }
    }

    .wp-block-quote {
      @apply border-l-4 border-blue mb-4 pl-4 py-4 bg-grey-light;
    }

    .wp-block-embed iframe {
      width: 100% !important;
    }

    .back {
      @apply text-blue no-underline relative block mb-8 ml-6;
      &:before {
        content: url('../images/paginate-prev.svg');
        @apply absolute h-2 w-4 -left-6;
      }
    }
    
    .date {
      @apply uppercase text-lg font-bold;
    }

    .meta {
      @apply text-lg my-4 block font-normal;
  
      @screen sm {
        grid-template-columns: max-content min-content max-content;
        @apply grid gap-4 items-center;
      }

      @screen lg {
        grid-template-columns: minmax(130px, max-content) min-content max-content min-content max-content;
      }

      .authors {
        @apply no-underline text-blue col-span-12 lg:col-span-1;
        a {@apply no-underline font-normal;}
      }

      .separator {
        @apply justify-self-center text-blue hidden lg:block;
      }

      .dot {
        border-radius: 50%;
        @apply w-2 h-2 bg-blue justify-self-center hidden sm:block;
      }

      .date {
        @apply no-underline text-blue block font-normal;
      }

      .categories {
        @apply block uppercase relative md:text-center;
  
        a {
          @apply text-blue no-underline font-normal;
          &::before {
            content: none;
          }
        }
      }
    }
    .social-share {
      a {@apply no-underline}
      i {@apply text-lg text-blue mr-4}
    }
  }

  .sidebar {
    @apply col-span-2;
  }

  .tags {
    @apply my-4;

    a {
      @apply underline text-black font-normal;
    }
  }

  .related {
    @apply mt-8 md:mt-36;
    h2 {
      border-top-width: 3px;
      @apply border-news-alt2 font-sans pt-4;
    }

    a {
      @apply block my-4;
    }

    hr {
      @apply w-full border-t border-grey;
    }

    .date, .more, .categories {
      @apply text-base block uppercase;
    }

    .title {
      line-height: 30px;
      @apply font-serif text-lg font-bold;
    }

    .author { @apply inline text-base; }

    .more {
      @apply relative text-blue font-bold;
      &::after {
        content: url(../images/paginate-right.svg);
        @apply absolute w-6 h-2 ml-2;
      }
    }
  }

  .event {
    img {max-width: 100%; @apply my-4; }
    ul {
      @apply list-disc ml-4 text-lg mb-4 text-blue-dark;
    }
  }
}