.button {
  border-radius: 2px;
  @apply p-3 uppercase my-3 cursor-pointer block sm:inline-block;

  &.blue {
    @apply bg-blue text-white border-blue border-solid border-2 hover:bg-blue-dark hover:border-blue-dark py-3.5;
  }

  &.clear {
    &:hover {
      @apply py-3.5;
    }
    @apply bg-transparent text-white border-white border-solid border-2 hover:bg-blue 
    hover:border-blue;
  }
}

.wp-block-buttons { 
  @apply gap-8;
  .wp-block-button.wp-block-button {
    @apply mx-auto;
  }
}

.wp-block-button__link {
  border-radius: 2px;
  @apply p-3 my-3 uppercase cursor-pointer block sm:inline-block;

  .blue & {
    @apply bg-blue text-white border-blue border-solid border-2 hover:bg-blue-dark hover:border-blue-dark;
  }

  .outline & {
    @apply bg-transparent text-blue border-blue border-solid border-2 hover:bg-blue 
    hover:border-blue hover:text-white;
  }
}