.content {
  .calendar-container {
    @apply bg-white max-w-5xl md:mx-auto mx-4 p-3 relative mt-8 mb-8 hidden md:block;

    .calendar {
      border-spacing: 4px;
      @apply border-separate;
      th {
        @apply text-blue-dark text-xl;
      }
      .calendar-body {
        td {
          vertical-align: top;
          @apply bg-grey-light p-0 w-1/12;
  
          h3 {
            @apply bg-blue-dark text-white;
          }
        }
        tr {
          height: 170px;
        }
      }
    }

    .calendar-prev, .calendar-next {
      @apply absolute top-2 cursor-pointer text-3xl text-blue;
    }

    .calendar-prev { @apply left-3 }
    .calendar-next { @apply right-3 }
  
    h3.calendar-month-year {
      @apply text-blue-dark;
    }
  }

  .calendar-list {
    @apply block text-center md:hidden;

    .list-event {
      @apply text-white text-xl no-underline mb-4 block;
    }

    .list-event-title {
      max-width: 350px;
      @apply mr-6 block xs:inline-block align-middle relative;

      &::after {
        content: '';
        border-radius: 50%;
        @apply w-2 h-2 absolute bg-white ml-3 mt-3;
      }
    }
  }
}