.cards {
  @apply max-w-5xl mx-auto flex flex-row md:flex-col flex-wrap align-middle justify-center w-full;
  
  @screen md {
    max-height: 1200px;
  }

  .card {    
    @apply bg-white p-4 relative m-4 md:m-3;

    @screen sm {
      width: calc(50% - 2rem);
    }

    @screen md {
      width: calc(33% - 22px);
      max-height: 550px;
    }

    .link {
      @apply absolute w-full h-full left-0 top-0;
    }

    .tags {
      @apply text-blue uppercase text-lg font-black mb-4 mt-4 relative;
    }
  
    .author {
      @apply mb-6 relative text-lg;
    }
  
    .date {
      @apply text-base font-black relative;
    }

    .title {
      @apply mt-2 font-black text-xl mb-1;
    }

    .category {
      @apply uppercase text-sm font-bold relative text-blue;
    }
  }
}

.news-card {
  @apply bg-white p-4 pt-16 relative flex flex-col;

  h3:first-of-type {
    @apply uppercase inline-block py-2 px-4 absolute top-0 left-0 font-sans font-black text-white;
  }

  p:nth-of-type(1) {
    @apply flex-grow;
  }

  h2 {
    @apply text-2xl font-sans font-black;
  }

  a {
    @apply text-blue uppercase font-sans font-black relative;

    &::after {
      content: '';
      background-image: url(../images/right-arrow.svg);
      width: 20px;
      height: 20px;

      @apply absolute bg-no-repeat bg-contain -right-6 text-blue;
    }
  }

  .section>.wp-block-columns:nth-child(odd) & {
    &:nth-child(1) {
      h3:first-of-type {
        @apply bg-news;
      }
    }
  
    &:nth-child(2) {
      h3:first-of-type {
        @apply bg-news-alt1;
      }
    }
  }

  .section>.wp-block-columns:nth-child(even) & {
    &:nth-child(1) {
      h3:first-of-type {
        @apply bg-news-alt2;
      }
    }
  
    &:nth-child(2) {
      h3:first-of-type {
        @apply bg-news-alt3;
      }
    }
  }
}