.cards {
  @apply max-w-5xl mx-auto flex flex-row md:flex-col flex-wrap align-middle justify-start w-full;
  
  @screen md {
    max-height: 1200px;
  }

  .card {    
    @apply bg-white p-4 relative m-4 md:m-3;

    @screen sm {
      width: calc(50% - 2rem);
    }

    @screen md {
      width: calc(33% - 22px);
      max-height: 550px;
    }

    .link {
      @apply absolute w-full h-full left-0 top-0 text-blue-dark;
    }

    .tags {
      @apply text-blue uppercase text-base font-black mb-4 mt-4 relative;
      line-height: 23px;
    }
  
    .author {
      @apply mb-6 relative text-base text-blue-dark;
    }
  
    .date {
      @apply text-base font-black relative text-blue-dark;
    }

    .title {
      line-height: 30px;
      @apply mt-2 font-serif text-lg font-bold mb-1 text-blue-dark;
    }

    .category, .categories {
      @apply uppercase text-sm font-bold relative text-blue;
    }
  }

  &.events {
    max-height: 850px;
    .card {
      box-shadow: 0px 2px 8px 1px rgba(51,51,51,0.1);
      @apply p-3;
    }
  }
}

.category, .categories {
  a[href^="/category/"] {
    @apply ml-8 uppercase text-sm font-bold relative text-blue;
    &::before {
      content: url(../images/categories/article.svg);;
      @apply absolute h-6 w-6 -left-8 -top-0.5;
    }
  }

  a[href*="multimedia"]::before { content: url(../images/categories/multimedia.svg); }
  a[href*="commentary"]::before { content: url(../images/categories/commentary.svg); }
  a[href*="take-five"]::before { content: url(../images/categories/take-five.svg); }
}

.news-card {
  @apply bg-white p-4 pt-16 relative flex flex-col;

  h3:first-of-type {
    @apply uppercase inline-block py-2 px-4 absolute top-0 left-0 font-sans font-black text-white text-alt;
  }

  p:nth-of-type(1) {
    @apply flex-grow text-lg;
  }

  h2 {
    @apply text-2xl font-sans font-black;
  }

  a {
    @apply text-blue uppercase font-sans font-black text-base relative;

    &::after {
      content: '';
      background-image: url(../images/arrow-link.svg);
      width: 20px;
      height: 14px;
      top: 50%;
      transform: translateY(-50%);

      @apply absolute bg-no-repeat bg-contain -right-6 text-blue;
    }
  }
}
