.experts {
  @apply max-w-5xl mx-auto -mt-12 relative bg-white p-2 pb-20 md:p-8;

  .expert-grid > .wp-block-group__inner-container {
    @apply grid grid-cols-1 gap-2 xs:grid-cols-2 sm:gap-10 md:grid-cols-3 md:gap-10 lg:grid-cols-4 lg:gap-8;

    .wp-block-image {
      max-width: 230px;
      @apply my-0 mx-auto;

      img {
        width: 200px;
        height: 200px;
      }

      .photo {
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
  }

  h1 {
    @apply mb-12 text-4xl;
  }

  figcaption, a {
    @apply text-center text-base text-blue mb-0;
  }

  figcaption, p, a {
    line-height: 1.1;
  }
}

.expert {
  @apply bg-white sm:mx-auto max-w-5xl px-4 py-8 -mt-12 relative;

  .photo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    @screen md {
      width: 250px;
      height: 250px;
    }

    @screen lg {
      width: 300px;
      height: 300px;
    }
  }
}

.science-experts {
  .country-content &.wp-block-columns .wp-block-column {
    flex-basis: auto !important;
    @apply ml-0;
  }
  .science-expert {
    border-radius: 50%;
    @apply bg-no-repeat bg-cover w-44 h-44 relative mx-auto mb-16;

    p {
      @apply absolute -bottom-12 h-6 w-full text-white text-center mt-4;
    }

    a {
      @apply absolute h-full w-full top-0 left-0 text-white no-underline;
    }
  }
}

.science-bg-experts {
  .science-expert {
    img {
      width: 100%;
      max-width: 200px;
      @apply m-auto;
    }
    figcaption {
      @apply text-white text-center text-sm;
    }
  }
}