.page-feature-image {
  max-height: 400px;
  @apply bg-center bg-no-repeat bg-cover w-full h-full relative;
  
  &::after {
    content: '';
    @apply bg-blue bg-opacity-60 absolute w-full h-full left-0 top-0 right-0 bottom-0;
  }

  &.country-feature {
    &::after { content: none; }
  }

  + .content {
    @apply mt-12;
  }
}

.page-title {
  &.left {@apply text-left md:px-8 }
  @apply -mt-12 pt-12 md:px-4 lg:px-0 text-center bg-white relative md:-mx-8 font-title;
}

.arrow-links {
  a {
    @apply text-blue relative;
    &::after {
      content: '';
      background-image: url(../images/arrow-link.svg);
      width: 20px;
      height: 14px;

      @apply absolute top-1.5 bg-no-repeat bg-contain -right-6 text-blue;
    }
  }
}

.content {
  a {
    @apply text-blue underline;
  }
  .md-hidden {
    @apply md:hidden;
  }
  .md-flex {
    @apply hidden md:flex;
  }
  ul {
    @apply list-disc text-lg mb-4 ml-4 text-blue-dark;
  }
}

.back {
  @apply no-underline relative ml-6 mb-8 block text-blue;

  &:before {
      content: url('../images/paginate-prev.svg');
      @apply absolute h-2 w-4 -left-6;
    }
}

.overview {
  @apply my-16 font-serif font-bold text-2xl max-w-3xl mx-auto relative px-4 lg:px-0;

  &.no-margin {
    @apply my-0;
  }

  &:before {
    content: '';
    @apply h-full w-1 absolute left-0 lg:-left-8 bg-red;
  }

  &.alt::before {
    @apply bg-news;
  }
}

.vision {
  @apply mx-auto max-w-5xl bg-white px-4 py-8 
    md:py-16 md:px-32 relative bg-opacity-50 md:bg-opacity-100 
    bg-gradient-to-b from-white to-current;

  img { height: 112px; @apply w-auto mx-auto; }
  figcaption { @apply text-center text-base text-blue font-semibold; }
  p { @apply my-8; }
  * { @apply font-sans; }

  &.impact {
    @apply pt-6;
    .wp-block-image { @apply mb-0; }
    img { height: unset; }
    h2 { @apply text-blue text-3xl }

    .wp-block-column a {
      @apply pt-0;
    }
  }

  .wp-block-column {
    background-size: auto 110px;
    min-height: 180px;
    transition: all .5s ease-in-out;
    @apply bg-no-repeat bg-top cursor-pointer relative;

    &:hover {
      a {
        @apply text-red-alt;
      }
    }

    a {
      padding-top: 114px;
      transition: color .5s ease-in-out;
      @apply absolute h-full w-full left-0 top-0 text-blue;
    }
  }

  .vision-military {
    background-image: url(../images/vision-military.svg);
    &:hover { background-image: url(../images/vision-military-active.svg); }
  }

  .vision-economic {
    background-image: url(../images/vision-economic.svg);
    &:hover { background-image: url(../images/vision-economic-active.svg); }
  }

  .vision-food {
    background-image: url(../images/vision-food.svg);
    &:hover { background-image: url(../images/vision-food-active.svg); }
  }

  .vision-health {
    background-image: url(../images/vision-health.svg);
    &:hover { background-image: url(../images/vision-health-active.svg); }
  }

  .vision-environment {
    background-image: url(../images/vision-environment.svg);
    &:hover { background-image: url(../images/vision-environment-active.svg); }
  }

  .vision-cultural {
    background-image: url(../images/vision-cultural.svg);
    &:hover { background-image: url(../images/vision-cultural-active.svg); }
  }

  .vision-political {
    background-image: url(../images/vision-political.svg);
    &:hover { background-image: url(../images/vision-political-active.svg); }
  }

  .vision-energy {
    background-image: url(../images/vision-energy.svg);
    &:hover { background-image: url(../images/vision-energy-active.svg); }
  }
}

.polar-background {
  background-image: url(../images/polar.jpg);

  @apply bg-cover bg-no-repeat mb-0 md:pb-16;
}

.move-up {
  @apply mt-4 md:-mt-24;
}

.values, .leadership {
  * { @apply font-sans; }
  h2 { @apply text-3xl text-blue; }
  p { @apply text-lg; }
}

.values {
  @apply max-w-5xl mx-auto my-8 md:my-20 md:flex block gap-x-4;
  &.wp-block-columns > .wp-block-column:not(:first-child) { @apply ml-0; }
  .wp-block-column:first-child ul {
    width: fit-content;
    @apply -ml-0.5 md:ml-8 my-8 md:my-4 list-none;
    li {
      @apply relative mb-4 font-serif text-lg cursor-pointer;
      &.active {
        @apply text-red-alt font-bold;
      }
      &::before {
        content: '';
        @apply absolute w-0.5 h-full -left-4 top-0 bg-black;
      }
      &:not(.active)::after {
        content: '';
        background-image: url(../images/arrow.svg);
        @apply absolute w-6 h-5 ml-4 top-1.5 bg-no-repeat bg-contain;
      }
      &.active::before {
        content: '';
        @apply w-1 top-0 bg-red-alt;
      }
    }
  }
  &.section {
    @apply px-8 md:px-4 lg:px-0;
  }
  &.section > .wp-block-column.wp-block-column {
    margin-left: 0;

    h4 {
      @apply mb-12;
    }
  }
}

.projects {
  @apply max-w-5xl mx-auto my-16;
  .wp-block-group__inner-container {
    @apply flex flex-wrap gap-4 justify-center;
  }

  .wp-block-cover__inner-container {
    @apply relative h-full w-full;

    p {@apply m-0;}
    a {@apply text-white no-underline; }
  }

  .wp-block-group__inner-container>.wp-block-image {
    @apply hidden lg:block;
  }

  h2 {
    @apply md:-ml-9;
  }

  .wp-block-cover {
    @apply m-0 p-0;

    .read-more {
      @apply text-news uppercase relative inline-block mt-4;
    
      &::after {
        content: '';
        background-image: url(../images/arrow-alt.svg);
        width: 20px;
        height: 20px;
        @apply absolute bg-no-repeat bg-contain -right-6 top-1.5;
      }
    }

    .wp-block-cover__inner-container {
      p { @apply mx-4; }
      p:first-of-type { @apply mt-16; }
      .text {@apply text-white}
      .text, .read-more { @apply hidden; }
  
      &:hover {
        @apply bg-blue-dark;

        a {
          @apply top-0 pt-4;

          &::after {
            bottom: unset;
            @apply top-14;
          }
        }
        .text, .read-more {
          @apply inline-block;
        }
      }
    }
  }

  & figure, & .wp-block-image, .wp-block-cover {
    flex-basis: 100%;
    @apply relative m-0;

    @screen sm {
      flex-basis: calc(50% - 9px);
    }

    @screen lg {
      flex-basis: calc(33% - 9px);
    }
    
    &:not(p.wp-block-image)::after {
      content: '';
      @apply absolute top-0 left-0 w-full h-full bg-blue-project opacity-50;
    }

    a {
      @apply absolute top-0 left-0 pt-40 pl-4 w-full h-full text-2xl z-10;

      @screen lg {
        padding-top: 50%;
      }

      &::after {
        content: '';
        @apply absolute border-b-2 border-white bottom-1/2 w-1/4 z-10 left-4;
      }
    }
  }
}

.approach {
  @apply max-w-6xl mx-auto mb-20 gap-2 items-center;

  .wp-block-column {
    @apply bg-grey bg-opacity-40 m-0 justify-center flex-col 
      flex text-center px-4 py-12 self-stretch cursor-pointer;

    &.inactive {
      @apply my-0;

      @screen md {
        min-height: 600px;
        @apply my-auto;
      }

      h3 { @apply hidden; }
      hr { @apply hidden; }
      p { @apply hidden; }
      figure.active { @apply hidden; }
    }

    figure {
      @apply my-0;
    }

    .smaller {
      img {
        padding-bottom: 20px;
      }
    }

    img {
      height: 100px;
      width: auto;
      // max-width: 110px;
      @apply mx-auto;
    }

    figcaption {
      @apply uppercase text-blue-dark text-2xl mb-0;
    }

    &.active {
      @apply bg-blue text-white;
      p {@apply text-white;}
      h3 {@apply text-white;}
      figcaption {@apply text-white;}
      figure:not(.active) { @apply hidden; }
    }

    h3 {
      @apply font-sans mb-4;
    }

    hr {
      width: 66px;
      @apply my-4 mx-auto;
    }
  }
}

.impact {
  @apply max-w-5xl mx-auto mb-0 text-center;

  h3 { @apply text-6xl text-blue font-bold; }
  p { max-width: 220px; @apply text-2xl font-bold mx-auto mt-4; }
  .wp-block-columns {
    @apply gap-8 mb-8;
    .wp-block-column, .wp-block-column:not(:first-child) { 
      @apply ml-0; 
    }
  }
}

.highlight {
  @apply border-l-4 border-red border-solid pl-4 max-w-3xl mx-auto my-16 text-2xl font-bold font-serif;

  &.no-margin {
    @apply m-0 gap-x-2 gap-y-0 p-2;
    p { @apply m-0 p-0 leading-none; }
  }
}

.sub-highlight {
  @apply pl-4 max-w-3xl mx-auto my-16 text-lg;
}

.contact-details {
  hr {
    max-width: 100px;
    @apply mx-0 border-t;
  }
}

.tai-news {
  @apply my-8 border-t-4 border-news-alt1;
  .heading {
    @apply mt-2;
  }
  .wp-block-post-title {
    @apply text-lg mt-40;
    a {@apply no-underline text-blue-dark;}
  }
  .wp-block-post-date {
    @apply absolute -top-8 left-0;
  }
  .wp-block-post-excerpt__excerpt, .wp-block-separator {
    @apply hidden;
  }
  .wp-block-post-featured-image {
    @apply absolute -top-36 left-0;
    img {
      height: 100px;
      width: auto;
    }
  }
  .wp-block-post-template {
    &>li {
      @apply mb-8 relative;
    }
  }
  .wp-block-post-excerpt__more-link {
    @apply no-underline uppercase text-base relative;
    &::after {
      content: '';
      background-image: url(../images/arrow-link.svg);
      width: 20px;
      height: 14px;

      @apply absolute top-1 bg-no-repeat bg-contain -right-6 text-blue;
    }
  }
}

.take-five {
  @apply my-16;
  .wp-block-post {
    max-width: 580px;
    @apply relative ml-44 mb-12;

    &::after {
      content: '';
      background-image: url(../images/take-five.jpg);
      @apply absolute top-0 -left-44 w-40 h-20 bg-no-repeat bg-cover;
    }
  }
  .wp-block-post-excerpt p, .wp-block-post-title, .wp-block-post-date {
    @apply text-alt font-sans;
  }
  .wp-block-post-title, .wp-block-post-date {
    @apply text-blue-dark;
  }
  .wp-block-post-title {
    @apply mb-1;
  }
}
.newsletter-archive {
  max-width: 500px;
  @apply mx-auto ;
}