.section {
  @apply px-6 py-4 md:py-12 lg:px-0 relative;

  &.limit, .limit {
    @apply max-w-5xl mx-auto;
  }

  &.dark {
    @apply bg-blue-dark;

    &.curve-after {
      @apply md:mb-20;
    }

    &.curve-after::after {
      content: '';
      background-image: url('../images/curve.svg');
      background-size: 100% 8rem;

      @apply absolute h-32 bg-no-repeat md:mb-16 w-full left-0;
    }

    &.curve-before::before {
      content: '';
      top: calc(-8rem + 1px);
      background-image: url('../images/curve-before.svg');
      background-size: 100% 8rem;

      @apply absolute h-32 bg-no-repeat w-full left-0 mt-12 md:mt-4;
    }

    p, h2, h3 {
      @apply text-white font-sans mb-4;
    }

    p { @apply text-lg }

    .wp-block-group__inner-container {
      @apply max-w-5xl mx-auto;
    }
  }

  &.mid {
    @apply bg-blue;

    .wp-block-columns {
      @apply max-w-5xl mx-auto gap-x-0 gap-y-4 mb-4 md:mb-8;
    }

    &.curve-before::before {
      content: '';
      background-image: url('../images/curve-blue.svg');

      @apply absolute h-32 bg-no-repeat bg-cover w-full left-0 -top-28;
    }

    &.wp-block-columns {
      @apply max-w-6xl mx-auto md:px-44 md:pt-16 md:pb-8;

      & * {
        @apply text-white font-sans mb-6;
      }

      p { @apply text-lg }
    }
  }

  .wp-block-group__inner-container, &.wp-block-columns {
    @apply max-w-3xl mx-auto;
  }

  .wp-block-columns.wp-block-columns {
    @apply gap-8 mb-8;
  }

  &.leadership {
    @apply pb-4 md:pb-0;
    .wp-block-group__inner-container {@apply md:max-w-5xl;}
  }
}

.alternating-cols {
  @apply gap-8 block md:flex;

  > * { min-height: 280px; @apply p-6 relative; }

  h2, p { @apply text-white; }
  p { @apply mb-16; }

  hr { @apply border-white mx-0 my-4; }

  a {
    width: calc(100% - 5rem);
    @apply text-news uppercase absolute bottom-6;

    &::after {
      content: '';
      background-image: url(../images/arrow-alt.svg);
      width: 20px;
      height: 14px;
      bottom: 10px;

      @apply absolute bg-no-repeat bg-contain ml-4;
    }
  }

  .mid {
    @apply bg-blue;
    h3 {@apply text-white;}
    a { @apply no-underline; }
  }

  .dark {
    @apply bg-blue-dark;
    h3 {@apply text-white;}
    a { @apply no-underline; }
  }

  &.wp-block-columns {
    .wp-block-column, .wp-block-column:not(:first-child) { 
      @apply ml-0 mb-8 md:mb-0; 
    }
  }
}