@import './navigation';
@import './home';
@import './article';
@import './page';
@import './section';
@import './publications';
@import './experts';
@import './countries';
@import './card';
@import './list';
@import './button';
@import './forms';
@import './calendar';
@import './grid';
@import './footer';

.custom-logo {
  max-width: 280px;
  @screen xs { max-width: 320px; }
  @screen sm { max-width: 350px; }
  @apply md:pr-4;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/proxima-nova.woff);
}

h1 {
  letter-spacing: -1px;
  line-height: 1.1;
  @apply text-blue-dark text-5xl font-bold;

  @screen sm {
    letter-spacing: unset;
  }
}

h2 {
  letter-spacing: -1px;
  @apply text-4xl font-bold font-serif text-blue-dark mb-4 leading-tight;
  @screen sm {
    letter-spacing: unset;
  }
}

h3 {
  @apply text-2xl font-bold font-serif text-blue-dark mb-4 leading-tight;
}

h4 {
  @apply text-lg font-bold font-serif text-blue-dark mb-4 leading-tight;
}

p {
  @apply mb-4 font-sans text-blue-dark max-w-4xl text-current text-lg;
  &.white { @apply text-white; }
}

a {
  @apply font-extrabold;
}

hr, .wp-block-separator {
  @apply max-w-xs mx-auto my-8 border-b-0 border-t-2 border-blue-light;
  &.white { @apply border-white; }
}

iframe { @apply max-w-full }

.heading {
  @apply text-4xl font-bold font-sans text-blue-dark mt-8 mb-4;
  &.white { @apply text-white; }
}

h2.heading {
  @apply text-4xl;
}

h3.heading {
  @apply text-2xl font-semibold;
}

h4.heading {
  @apply text-lg;
}
